brokenaxes==0.6.2
catkin-pkg==1.0.0
contourpy==1.1.1
cycler==0.12.1
distro==1.9.0
docutils==0.20.1
fonttools==4.53.1
gnupg==2.3.1
importlib-resources==6.4.5
kiwisolver==1.4.7
lz4==4.3.3
matplotlib==3.7.5
mcap==1.1.1
mcap-ros1-support==0.7.3
memory-profiler==0.61.0
natsort==8.4.0
numpy==1.24.4
packaging==24.1
pillow==10.4.0
psutil==6.0.0
pycryptodomex==3.20.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
PyYAML==6.0.2
pyzmq==26.2.0
rosbags==0.9.23
rospkg==1.5.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
six==1.16.0
tdqm==0.0.1
tqdm==4.66.5
typing-extensions==4.12.2
zipp==3.20.2
zstandard==0.23.0
